@import "bourbon";
@import "neat";

$bgcolor: #efefef;
$gridcolor: #ffffff;
$textcolor: #2f2f2f;
$fontsize: 18px;

// Invoke hardware acceleration to improve animation qualities
* {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

body {
  padding-left: 50px;
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
}

#grid-wrapper {
  display: inline;
}

#grid-display {
  display: inline-block;
  background: $gridcolor;
  user-select: none;
}

#grid-overlay {
  position: relative;
}
