@import "bourbon";
@import "neat";

/* Define standard variables and values for website */
$bgcolor: #efefef;
$textcolor: #2f2f2f;
$fontsize: 18px;

/* Use the variables */
body {
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
}

#grid-display {
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
  position: relative;
  display: inline-block;
}

#grid-display-overlay {
  width: 100%;
  height: 100%;
  // top: 0;
  // left: 0;
  position: absolute;
  z-index: 10;
}
