@import "bourbon";
@import "neat";

/* Define standard variables and values for website */
$bgcolor: #efefef;
$textcolor: #2f2f2f;
$fontsize: 18px;

/* Use the variables */
body {
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
}

#grid-display {
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
